<template>
    <div class="table-responsive">
        <div id="basicExample_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="basicExample_length">
                        <label>Display
                            <select name="basicExample_length" aria-controls="basicExample"
                                class="form-control form-control-sm selectpicker" v-model="tableData.perPage"
                                @change="getPaginatedSuppliers()">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> Records Per Page
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div id="basicExample_filter" class="dataTables_filter"><label>Search:<input type="search"
                                class="form-control form-control-sm selectpicker" placeholder=""
                                aria-controls="basicExample" v-model="tableData.search" @input="search()"></label></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="basicExample" class="table custom-table dataTable no-footer" role="grid"
                        aria-describedby="basicExample_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="basicExample" rowspan="1"
                                    colspan="1" aria-sort="ascending"
                                    aria-label="Name: activate to sort column descending" style="width: 191.188px;">Name
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="basicExample" rowspan="1" colspan="1"
                                    aria-label="Position: activate to sort column ascending" style="width: 301.109px;">
                                    Email</th>
                                <th class="sorting" tabindex="0" aria-controls="basicExample" rowspan="1" colspan="1"
                                    aria-label="Salary: activate to sort column ascending" style="width: 114.734px;">
                                    Actions</th>
                            </tr>
                        </thead>
                        <tbody v-if="loadingPage">
                            <tr>
                                <td colspan="3" class="text-center">
                                    <loader></loader>
                                </td>
                            </tr>
                        </tbody>
                        <tbody v-if="suppliers.length === 0 && !loadingPage">
                            <tr>
                                <td colspan="3" class="text-center">
                                    <span>No Results.</span>
                                </td>
                            </tr>
                        </tbody>
                        <tbody v-if="suppliers.length > 0 && !loadingPage">
                            <tr v-for="(supplier, index) in suppliers" :key="supplier.id">
                                <td>
                                    {{ supplier.name }}
                                </td>
                                <td>{{ supplier.email }}</td>
                                <td>
                                    <a :href="`/suppliers/${supplier.id}/edit`">
                                        <span class="icon-pencil green-icon"></span>
                                    </a>
                                    <a href="#" class="ml-2" @click.prevent="destroy(supplier.id)">
                                        <span class="icon-delete green-icon"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <pagination v-if="suppliers.length > 0" :pagination="pagination"
                @prev="getPaginatedSuppliers(pagination.prevPageUrl)"
                @next="getPaginatedSuppliers(pagination.nextPageUrl)" @goTo="goToPage" />

        </div>
    </div>
</template>

<script>
import _ from "lodash";
export default {
    data() {
        return {
            loadingPage: false,
            pagination: {
                path: "",
                perPage: "",
                lastPage: "",
                currentPage: "",
                total: "",
                lastPageUrl: "",
                nextPageUrl: "",
                prevPageUrl: "",
                from: "",
                to: "",
            },
            suppliers: [],
            tableData: {
                sortColumn: "created_at",
                sortDirection: "desc",
                perPage: 10,
                staff: true
            },
        }
    },
    created() {
        this.getPaginatedSuppliers();
    },
    methods: {
        async destroy(id) {
            if (confirm("Delete")) {
                try {
                    const response = await axios({
                        method: "DELETE",
                        url: `/api/suppliers/${id}`,
                    });
                    if (response.status === 204) {
                        this.getPaginatedSuppliers();
                    }
                } catch (error) {
                    console.log("Error");
                    console.log(error);
                }
            }
        },
        search: _.debounce(function () {
            this.getPaginatedSuppliers();
        }, 500),
        goToPage(url) {
            this.getPaginatedSuppliers(url);
        },
        configPagination(data) {
            this.pagination.path = data.meta.path;
            this.pagination.lastPage = data.meta.last_page;
            this.pagination.perPage = data.meta.per_page;
            this.pagination.currentPage = data.meta.current_page;
            this.pagination.total = data.meta.total;
            this.pagination.lastPageUrl = data.links.last;
            this.pagination.nextPageUrl = data.links.next;
            this.pagination.prevPageUrl = data.links.prev;
            this.pagination.from = data.meta.from;
            this.pagination.to = data.meta.to;
        },
        async getPaginatedSuppliers(url = "/api/suppliers") {
            this.loadingPage = true;
            try {
                const response = await axios({
                    method: "GET",
                    url: url,
                    params: this.tableData,
                });
                this.loadingPage = false;
                if (response.status === 200) {
                    let data = response.data;
                    this.suppliers = data.data;
                    this.configPagination(data);
                }
            } catch (err) {
                this.loadingPage = false;
            }
        },
    }
}
</script>
