<template>
        <div class="row">
                <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="basicExample_info" role="status" aria-live="polite">
                                Showing Page {{ pagination.from }} of {{ pagination.total }}
                        </div>
                </div>
                <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="basicExample_paginate">
                                <ul class="pagination pagination-sm">
                                        <li class="paginate_button page-item previous" :class="{
                                            disabled: pagination.prevPageUrl === null,
                                        }" id="basicExample_previous">
                                                <a href="#" aria-controls="basicExample" data-dt-idx="0" tabindex="0"
                                                        class="page-link" @click.prevent="$emit('prev')">
                                                        Previous
                                                </a>
                                        </li>
                                        <li class="paginate_button page-item active" v-if="
                                            pagination.currentPage === pagination.lastPage &&
                                            pagination.currentPage - 2 > 0
                                        ">
                                                <a href="#" aria-controls="basicExample" data-dt-idx="1" tabindex="0"
                                                        class="page-link"
                                                        @click="goToPage(pagination.currentPage - 2)">{{
                                                        pagination.currentPage - 2 }}
                                                </a>
                                        </li>
                                        <li class="paginate_button page-item " v-if="pagination.currentPage !== 1">
                                                <a href="#" aria-controls="basicExample" data-dt-idx="2" tabindex="0"
                                                        class="page-link" @click="goToPage(pagination.currentPage - 1)">
                                                        {{ pagination.currentPage - 1 }}
                                                </a>
                                        </li>
                                        <li class="paginate_button page-item ">
                                                <a href="#" aria-controls="basicExample" data-dt-idx="3" tabindex="0"
                                                        class="page-link">
                                                        {{ pagination.currentPage }}
                                                </a>
                                        </li>
                                        <li class="paginate_button page-item " v-if="pagination.nextPageUrl">
                                                <a href="#" aria-controls="basicExample" data-dt-idx="4" tabindex="0"
                                                        class="page-link" @click="goToPage(pagination.currentPage + 1)">
                                                        {{ pagination.currentPage + 1 }}
                                                </a>
                                        </li>
                                        <li class="paginate_button page-item " :class="{
                                            disabled: pagination.nextPageUrl === null,
                                        }"
                                                v-if="pagination.currentPage === 1 && pagination.currentPage + 2 <= pagination.lastPage">
                                                <a href="#" aria-controls="basicExample" data-dt-idx="5" tabindex="0"
                                                        class="page-link"
                                                        @click.prevent="goToPage(pagination.currentPage + 2)">
                                                        {{ pagination.currentPage + 2 }}
                                                </a>
                                        </li>
                                        <li class="paginate_button page-item next" :class="{
                                            disabled: pagination.nextPageUrl === null,
                                        }" id="basicExample_next">
                                                <a href="#" aria-controls="basicExample" data-dt-idx="8" tabindex="0"
                                                        class="page-link" @click="$emit('next')">
                                                        Next
                                                </a>
                                        </li>
                                </ul>
                        </div>
                </div>
        </div>
</template>

<script>
export default {
        props: ["pagination"],
        emits: ["next", "prev", "goTo"],
        methods: {
                goToPage(page) {
                        const path = `${this.pagination.path}?page=${page}`;
                        this.$emit("goTo", path);
                },
        },
};
</script>