<template>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Address Line 1</th>
                        <th>Address Line 2</th>
                        <th>Postal Code</th>
                        <th>City</th>
                        <th>Locality</th>
                        <th>State</th>
                        <th>Country</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody v-if="form.addresses.length === 0">
                    <tr>
                        <td colspan="8" class="text-center">
                            No addresses found.
                        </td>
                    </tr>
                </tbody>
                <tbody v-else>
                    <tr v-for="(address, idx) in form.addresses" :key="address">
                        <td>{{ address.address_line_1}}</td>
                        <td>{{ address.address_line_2}}</td>
                        <td>{{ address.postal_code}}</td>
                        <td>{{ address.city}}</td>
                        <td>{{ address.locality}}</td>
                        <td>{{ address.state}}</td>
                        <td>{{ address.country}}</td>
                        <td>
                            <a :href="`#`" @click.prevent="editAddress(address, idx)">
                                <span class="icon-pencil green-icon"></span>
                            </a>
                            <a href="#" class="ml-2" @click.prevent="deleteAddress(idx)">
                                <span class="icon-delete green-icon"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="form-group">
            <label for="autocomplete_search">Search</label>
            <input type="text" class="form-control" id="autocomplete_search" placeholder="Search">
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="form-group">
            <label for="address_line_1">Address Line 1</label>
            <input tabindex="16" type="text" id="address_line_1" class="form-control" placeholder="Address Line 1"
                v-model="address.address_line_1">
        </div>
        <div class="form-group">
            <label for="postal_code">Postal Code</label>
            <input tabindex="18" type="text" id="postal_code" class="form-control" placeholder="Postal Code"
                v-model="address.postal_code">
        </div>
        <div class="form-group">
            <label for="locality">Locality</label>
            <input tabindex="20" type="text" id="locality" class="form-control" placeholder="Locality"
                v-model="address.locality">

        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <input tabindex="22" type="text" id="country" class="form-control" placeholder="Country"
                v-model="address.country" :class="{
                  'is-invalid': findFieldinFeedback('country') && address.country === ''
                }" required>
            <div v-if="findFieldinFeedback('country') && address.country === ''" class="invalid-feedback">This field is
                required</div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="form-group">
            <label for="address_line_2">Address Line 2</label>
            <input tabindex="17" type="text" id="address_line_2" class="form-control" placeholder="Address Line 2"
                v-model="address.address_line_2">
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input tabindex="19" type="text" id="city" class="form-control" placeholder="City" v-model="address.city">
        </div>
        <div class="form-group">
            <label for="state">State</label>
            <input tabindex="21" type="text" id="state" class="form-control" placeholder="State"
                v-model="address.state">
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
        <div class="text-right">
            <button type="button" class="btn btn-success" @click="addAddress">Add address</button>
        </div>
    </div>
</template>

<script>
import setFeedbackMixin from "../../mixins/setFeedback";
export default {
    mixins: [
        setFeedbackMixin,
    ],
    props: {
        userCompany: {
            type: Object,
            required: false,
        }
    },
    data() {
        return {
            feedback: [],
            address: {
                address_line_1: "",
                address_line_2: "",
                postal_code: "",
                city: "",
                locality: "",
                state: "",
                country: "",
            },
            form: {
                addresses: []
            },
            autocomplete: null
        }
    },
    created() {
        if (this.userCompany.addresses !== undefined && this.userCompany.addresses.length > 0) {
            this.form.addresses = [...this.userCompany.addresses];
        }
    },
    mounted() {
        this.initialize();
    },
    methods: {
        editAddress(address, index) {
            this.address.address_line_1 = address.address_line_1;
            this.address.address_line_2 = address.address_line_2;
            this.address.postal_code = address.postal_code;
            this.address.city = address.city;
            this.address.locality = address.locality;
            this.address.state = address.state;
            this.address.country = address.country;
            this.deleteAddress(index);
        },
        deleteAddress(index) {
            this.form.addresses.splice(index, 1);
            this.submitAddresses();
        },
        async submitAddresses() {
            try {
                const response = await axios({
                    method: "PUT",
                    url: 'api/profile/634162f361b401d7050ea7b5',
                    data: this.form,
                });
            } catch (err) {
                console.log('err');
                console.log(err);
            }
        },
        addAddress() {
            this.feedback = [];
            if (this.address.country === "") {
                this.setFeedback("error", "country");
            }
            if (this.feedback.length !== 0) {
                return;
            }

            let address = {
                address_line_1: this.address.address_line_1,
                address_line_2: this.address.address_line_2,
                postal_code: this.address.postal_code,
                city: this.address.city,
                locality: this.address.locality,
                state: this.address.state,
                country: this.address.country,
            };

            this.form.addresses.push(address);
            this.clearAddress();
            this.submitAddresses();
        },
        initialize() {
            var input = document.getElementById('autocomplete_search');
            this.autocomplete = new google.maps.places.Autocomplete(input);
            this.autocomplete.addListener('place_changed', this.fillInAddress);
        },
        fillInAddress() {
            var place = this.autocomplete.getPlace();
            const componentForm = {
                street_number: "short_name",
                sublocality_level_1: "long_name",
                locality: "long_name",
                administrative_area_level_1: "short_name",
                country: "long_name",
                postal_code: "short_name",
                landmark: "short_name",
            };
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (componentForm[addressType]) {
                    var val = place.address_components[i][componentForm[addressType]];
                    switch (addressType) {
                        case "street_number":
                            this.address.address_line_1 = val;
                            break;
                        case "sublocality_level_1":
                            this.address.address_line_2 = val;
                            break;
                        case "postal_code":
                            this.address.postal_code = val;
                            break;
                        case "locality":
                            this.address.city = val;
                            this.address.locality = val;
                            break;
                        case "administrative_area_level_1":
                            this.address.state = val;
                            break;
                        case "administrative_area_level_2":
                            this.address.state = val;
                            break;
                        case "country":
                            this.address.country = val;
                            break;
                        default:
                            console.log('Addresstype default: ' + addressType + ' => value: ' + val);
                            break;
                    }
                }
            }
        },
        clearAddress() {
            this.address.address_line_1 = "";
            this.address.address_line_2 = "";
            this.address.postal_code = "";
            this.address.city = "";
            this.address.locality = "";
            this.address.state = "";
            this.address.country = "";
        },
    }
}
</script>
