.register.invalid-feedback {
    display: block;
}

.table-container .t-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.green-icon {
    color: #1a8e5f;
}

label.required-field:after {
    content: " *";
    color: red;
}